@font-face {
  font-family: "Raleway";
  src: url(../sources/fonts/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

figure {
  overflow: hidden;
}

#detach-button-host {
  display: none !important;
}

.big-img-container a {
  width: 100%;
  height: 100%;
}

.hat {
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
}

.hat.header__active{
  padding-bottom: 0;
}

.hat.header__active .headbar{
  display: none;
}

.hat.header__active .logobar{
  margin-top: 20px;
}

.hat.header__active .site-menu{
  display: none;
}

.headbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
  margin-bottom: 15px;
  background-color: #f3f3f3;
}

.content-container {
  max-width: 1140px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.menu-list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  white-space: nowrap;
}

.menu-link:nth-last-child(n + 2) {
  margin-right: 19px;
}

.menu-link-ref {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #292a2a;
}

.menu-link-ref:hover {
  text-decoration: underline;
}

.phone {
  text-decoration: none;
  margin-left: 50px;
  color: #292a2a;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.logobar {
  max-width: 1140px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 19px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.menu-burger {
  display: none;
}

.button-container {
  width: 141px;
  height: 40px;
  display: flex;
}

.button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #0a7356;
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
}

.dropbtn {
  background-color: #0a7356;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  width: 100%;
  height: 100%;

  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .2s ease all;
}

.dropbtn .arrows span {
  width: 16px;
  height: 2px;
  display: block;
  background: #fff;
  transition: .2s ease all;
}

.dropbtn .arrows span:first-child {
  margin-bottom: 5px;
}

.dropbtn.active span:first-child {
  transform: translateY(3px) rotate(45deg);
}
.dropbtn.active span:last-child {
  transform: translateY(-4px) rotate(-45deg);
}

.dropbtn:hover {
  background-color: black;
}

.dropdown {
  /* position: relative; */
  display: inline-block;

  width: 141px;
  height: 40px;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 44px 0 0 9.72%;
  transition: .2s ease all;
}

.dropdown-content.active__content {
  opacity: 1;
  visibility: visible;
}

.dropdown-content a {
  padding-bottom: 30px;
  text-decoration: none;
  display: block;
}

.show {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.menu-list-dropdown {
  display: block;
}

.menu-list-dropdown-first {
  padding-bottom: 35px;
  border-bottom: 2px solid #dadbdb;
}

.menu-list-dropdown-bottom {
  margin-top: 35px;
}

.dropdown-link {
  display: flex;
  width: 100%;
}

.dropdown-link a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown-link img {
  padding-left: 35px;
}

.dropdown-link a:hover {
  color: #00533c;
}

.dropdown-catalog {
  padding-left: 100px;
}

.menu-list-dropdown-center {
  width: 300px;
  white-space: normal;
}

.dropdown-link-center a {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 20px;
}

.dropdown-image {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-image-container {
  width: 360px;
  background-color: #f3f3f3;
  border-radius: 20px;
  margin: 40px 9.72%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  min-width: 183px;
  min-height: 90px;
  z-index: 4;
}

.logo a img {
  width: 100%;
}

.svg-links {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.svg-button {
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.svg {
  min-width: 20px;
  min-height: 20px;
}

.site-menu {
  max-width: 1140px;
  width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.menu-link-site:nth-last-child(n + 2) {
  margin-right: 30px;
}

.site-menu .menu ul {
  display: flex;
  list-style-type: none;
}

.site-menu .menu ul li {
  position: relative;
}

.site-menu .menu ul li a {
  font-family: "Raleway";
  font-weight: 600;
  color: #292a2a;
  font-size: 18px;
  transition: 0.2s ease all;
  letter-spacing: 0.01em;
}

.dop__menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: 0.2s ease all;
  transform: translateY(20px);
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding: 10px 20px 20px 20px;
  z-index: 100;
  background: #ffffff;
  border-radius: 0 0 7px 7px;
  transition: 0.5s ease all;
  margin-top: 20px;
  width: auto;
  box-shadow: 0px 10px 10px 2px rgba(34, 60, 80, 0.2);
}
.dop__menu a {
  color: #464646;
  margin-bottom: 15px;
}

.dop__menu a:hover {
  color: #B88E6D;
}

.site-menu .menu ul li:hover .dop__menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.button-site {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.arrow {
  padding-left: 10px;
}

.connection-button {
  width: 209px;
  height: 40px;
}

.button-contact-container {
  width: 100%;
}

.button-contact {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0a7356;
  background-color: #ffffff;
  border: 2px solid #0a7356;
  border-radius: 20px;
  transition: .2s all ease;
}

.button-contact:hover {
  color: #ffffff;
  background-color: #0a7356;
}

.intro {
  position: relative;
  margin-bottom: 107px;
  margin-top: 230px;
}

.intro_media {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video__swiper .swiper-slide {
  min-height: 720px;
}

.video__swiper .swiper-slide::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.video__swiper .swiper-pagination {
  background: #fff;
  border-radius: 20px;
  width: unset;
  padding: 0 10px;
  left: 235px;
  bottom: 80px;
}

.video__swiper .swiper-pagination-bullet {
  height: 6px;
  transition: .2s ease all;
  width: 6px;
}

.video__swiper .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 10px;
  height: 6px;
}

.container-info {
  max-width: 1140px;
  width: 1140px;
  margin: auto;
  position: relative;
  z-index: 2;
  padding: 194px 0px 67px 0;
}

.intro-head-container {
  position: relative;
  color: #ffffff;
  margin-bottom: 83px;
}

.intro-head {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 0.01em;
}

.intro-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 0.01em;
  font-size: 50px;
}

.button-container-catalog {
  width: 200px;
  height: 60px;
  margin-bottom: 90px;
}

.intro-button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container-scroll {
  width: 98px;
  height: 20px;
  background: #ffffff;
  justify-content: space-between;
  padding: 0 9px;
  border-radius: 20px;
}

.button-pause {
  width: 40px;
  height: 40px;
  background-color: #0a7356;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.radio {
  display: none;
}

.radio-input {
  cursor: pointer;
}

.page {
  max-width: 1140px;
  width: 1140px;
  margin: auto;
  margin-bottom: 100px;
}

.catalog {
  margin-bottom: 105px;
}

.popular-goods {
  margin-bottom: 107px;
}

.caption {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 70px;
  padding-bottom: 12px;
}

.description {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 43px;
  align-items: center;
  white-space: nowrap;
}

.catalog-ref {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0a7356;
}

.catalog-images {
  display: flex;
}

.big-img {
  width: 559px;
  height: 590px;
  background: #f3f3f3;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.big-img figure {
  padding: 30px 30px 66px;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container-popular {
  height: 295px;
  position: relative;
  display: flex;
  align-items: end;
}

.container-popular:nth-last-child(n + 2) {
  margin-right: 40px;
}

.img-container {
  z-index: 1;
  width: 260px;
  height: 280px;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.img-container-catalog {
  border-radius: 20px;
}

.img-container-catalog:nth-child(n + 3) {
  margin-top: 40px;
}

.img-container-catalog figure picture {
  display: flex;
  justify-content: center;
}

figcaption {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #292a2a;
  text-decoration: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 30px;
  white-space: nowrap;
}

.tag {
  margin-bottom: 20px;
}

.tag:nth-last-child(n + 2) {
  margin-right: 20px;
}

.button-tag {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  background: #f3f3f3;
  cursor: pointer;
  transition: .2s ease all;
}

.button-tag:focus {
  background: #0a7356;
  color: #ffffff;
  border: none;
}

.img-list-popular {
  flex-wrap: nowrap;
}

.img-container-popular:nth-last-child(n + 2) {
  margin-right: 40px;
}

.popular-goods .tabs__buttons .tabs__btn_active {
  background: #0a7356;
  color: #ffffff;
  border: none;
}


.hit {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30px;
  width: 100px;
  height: 30px;
  background: #f5ac84;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.portfolio {
  margin-bottom: 107px;
}

.portfolio__swiper {
  position: relative;
  display: grid;
  grid-template-columns: auto 260px;
  column-gap: 40px;
  grid-template-areas: 'text__swiper swiper__thumb' 'text__swiper swiper__thumb';
}

.portfolio .swiper-container {
  max-width: 100%;
}

.portfolio .gallery-top .swiper-slide {
  flex-direction: column;
}

.portfolio .gallery-thumbs {
  max-height: 100%;
  height: 900px;
}

.portfolio__swiper .btns__container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
  column-gap: 60px;
  top: 150px;
}

.portfolio__swiper .btns__container .swiper-button-next, .swiper-button-prev, .swiper-pagination {
  position: unset;
  margin-top: 0;
}

.portfolio__swiper .btns__container .swiper-button-next {
  order: 3;
}

.portfolio__swiper .swiper-pagination {
  position: unset;
  order: 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  padding: 0 13px 0;
}

.portfolio__swiper .swiper-pagination-total {
  color: #b7b7b7;
}

.portfolio .gallery-thumbs .swiper-slide{
  min-height: 170px;
  min-width: 260px;
}

.portfolio .gallery-thumbs .swiper-slide img{
  border-radius: 20px;
  width: 100%;
}

.inform-caption {
  font-size: 20px;
  line-height: 30px;
}

.text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #292a2a;
  margin-bottom: 100px;
}

.button-block {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.switch {
  width: 50px;
  height: 50px;
  background: #0a7356;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.switch-number {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  padding: 0 13px 0;
}

.switch-number-two {
  color: #b7b7b7;
}

.big-img-container {
  min-width: 860px;
  min-height: 500px;
}

.big-img-container picture img {
  width: 100%;
}

.button-block-bottom {
  display: none;
}

.catalog-ref-mobile {
  display: none;
}

.img-list-container {
  justify-content: end;
  align-items: end;
}

.ideas {
  /* display: none; */
  position: relative;
  margin-bottom: 97px;
}

.idea-img {
  width: 100%;
  pointer-events: none;
}

.paint:hover {
  fill: #0a7356;
}

.image-container-idea {
  position: relative;
  margin-right: 20px;
  width: 100%;
}

.idea-img {
  width: 100%;
  pointer-events: none;
}

.swiper-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  justify-content: space-between;
}

.series {
  margin-bottom: 107px;
}

.information-series .btns__container {
  position: relative;
  display: flex;
}

.series .swiper-button-next, .series .swiper-button-prev {
  top: 20px;
  position: relative;
}

.series .swiper-button-next {
  right: auto;
  order: 3;
  left: 0;
}

.series .swiper-button-prev {
  order: 1;
  left: 0;
}


.series .swiper-pagination {
  position: unset;
  order: 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  padding: 0 13px 0;
}

.series .swiper-pagination .swiper-pagination-total {
  color: #b7b7b7;
}

.series__swiper {
  max-width: 560px;
}

.button-series {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.button-series:focus {
  color: #0a7356;
  text-decoration-line: underline;
}

.button-series:hover {
  color: #0a7356;
  text-decoration-line: underline;
}

.image-conatainer-series {
  min-width: 560px;
  min-height: 360px;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.information-series {
  position: relative;
}

.information-container-series {
  margin-top: 26px;
  justify-content: space-between;
}

.text-series {
  padding-bottom: 46.94px;
  max-width: 473px;
}

.series-catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 2px solid #dadbdb;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.aboutUs {
  margin-bottom: 110px;
}

.text-block {
  display: flex;
  margin-bottom: 27px;
}

.aboutUs-ref {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #292a2a;
  text-decoration: none;
}

.aboutUs-ref:hover {
  color: #0a7356;
  text-decoration: underline;
}

.aboutUs-ref:nth-last-child(n + 2) {
  margin-bottom: 30px;
}

.aboutUs-ref-bottom {
  display: none;
}

.bottom-image-container {
  min-height: 710px;
  text-align: center;
}

.bottom-image-container picture img {
  max-width: 100%;
}

.news {
  margin-bottom: 105px;
}

.news-container {
  display: flex;
  justify-content: space-between;
}

.news__swiper {
  padding-bottom: 80px;
}

.news-block {
  background: #f3f3f3;
  border-radius: 40px;
  max-width: 340px;
}

.news-block:nth-last-child(n + 2) {
  margin-right: 20px;
}

.news-image-container {
  min-width: auto;
  min-height: 190px;
  padding: 30px 30px 20px 30px;
}

.inform-caption-news {
  padding: 0 30px 20px;
}

.text-news {
  padding: 0 30px 20px;
  margin: 0;
}

.date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #047255;
  padding: 0 0 32px 30px;
}

.button-block-news {
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 0;
}

.swiper-button-next, .swiper-button-prev {
  width: 50px;
  height: 50px;
  top: 95%;
}

.swiper-button-next::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/next__btn.jpg) no-repeat;
}
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/prev__btn.jpg) no-repeat;
}

.clients {
  margin-bottom: 97px;
}

.text-clients {
  max-width: 400px;
  margin-bottom: 21px;
}

.clients-containers {
  display: flex;
  justify-content: space-between;
}

.client-block {
  min-width: 260px;
  min-height: 130px;
  background: #f3f3f3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-name {
  display: flex;
  align-items: center;
  padding: 30px 30px 20px;
}

.name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  padding-left: 20px;
}

.reviews__swiper {
  padding-bottom: 80px;
}

.foot {
  background: #f3f3f3;
  padding: 114px 0 0 0;
}

.foot-container {
  max-width: 1140px;
  margin: auto;
}

.inform-caption-foot {
  padding-bottom: 20px;
}

.site-inform {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.aboutCompany-list {
  list-style-type: none;
}

.menu-link-ref-foot {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.menu-link-foot:nth-last-child(n + 2) {
  margin-bottom: 15px;
}

.ref {
  font-weight: 600;
}

.icons {
  display: flex;
  margin-top: 26px;
}

.icon-container {
  margin-right: 15px;
  min-width: 50px;
  min-height: 50px;
  border: none;
  border-radius: 50%;
}

.icon-container img {
  border-radius: 50%;
}

.copyright-politics {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  padding-bottom: 45px;
}

.copyright {
  cursor: pointer;
}

.copyright:hover {
  text-decoration: underline;
}

.c-inspiration .slider-wrapper {
  position: relative;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.slider-wrap .swiper-slide .slider-item-ancor {
  display: block;
  position: relative;
  padding-top: 116.8356997972%;
}

.slider-wrap .swiper-slide .slider-item-ancor .image {
  height: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

svg {
  outline: none;
}

.pin-box {
  position: absolute;
}

.scale {
  transition: 1s;
  width: 100%;
}

.scale:hover {
  transform: scale(1.2);
}

/* Карточка товара 1 */

.path {
  margin-bottom: 71px;
}

.menu-list-card {
  flex-wrap: wrap;
}

.menu-link-card {
  padding-bottom: 10px;
}

.menu-link-ref-catalog {
  font-size: 16px;
  display: flex;
  text-align: center;
}

.catalog-text {
  padding-right: 10px;
}

.first-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.preview-img-container {
  width: 100px;
  height: 100px;
}

.preview-img-container a picture img:hover {
  border: 1px solid #0a7356;
}

.preview-img-container:nth-last-child(n + 2) {
  margin-bottom: 20px;
}

.preview-big-img-container {
  width: 520px;
}
.preview-big-img-container a picture img:hover {
  border: 1px solid #0a7356;
}

.card-scroll {
  display: none;
}

.exposition {
  max-width: 460px;
}

.code {
  font-size: 16px;
  line-height: 30px;
  color: #b7b7b7;
}

.intro-head-catalog {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 43px;
}

.button-container-cat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.button-first-description {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 20px 22px 23px;
  border-radius: 20px;
  border: 2px solid #0a7356;
  background: #0a7356;
}

.button-first-description:hover {
  border: 2px solid black;
  background-color: black;
}

.button-first-description-right {
  background: #ffffff;
  color: #0a7356;
}

.switch-download-container {
  display: flex;
  flex-direction: column;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 61px;
}

.switch-cat {
  background: #ffffff;
}

.switch-cat:hover {
  background: #f3f3f3;
}

.switch-number-cat {
  font-size: 17px;
  line-height: 20px;
  padding: 0 44px;
}

.download-container {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: auto;
}

.download-text {
  margin-bottom: 11px;
}

.download-button {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: #0a7356;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.download-button img {
  padding-right: 10px;
}

.product-description {
  width: 45.83%;
  margin-bottom: 77px;
}

.share-container {
  display: none;
}

.about-the-product {
  margin-bottom: 50px;
}

.description-caption {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.01em;
  padding-bottom: 20px;
}

.text-description-catalog {
  font-size: 16px;
}

.general-characteristics {
  margin-bottom: 41px;
}

.characteristics {
  list-style-type: none;
}

.charact {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #b7b7b7;
}

.order {
  margin-bottom: 76px;
}

.product-card-caption {
  font-size: 40px;
  line-height: 60px;
  padding-bottom: 0;
}

.product-cards {
  display: flex;
  justify-content: space-between;
}

.product-card:nth-last-child(n + 2) {
  margin-right: 20px;
}

.product-card-image-container {
  height: 200px;
  border-radius: 30px 30px 0 0;
  background-color: #f3f3f3;
}

.product-card-image-container picture {
  margin: auto;
}

.product-card-image-container img {
  padding: 20px;
}

.product-description-card {
  padding: 20px;
  border: 2px solid #ffffff;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 30px 30px;
}

.card-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  width: 160px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.text-card {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b7b7b7;
}

.card-description button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

/* Карточка товара 2 */

.main-sidebar-container {
  display: flex;
  justify-content: space-between;
}

.mobile-sidebar {
  display: none;
}

.sidebar {
  padding-right: 5.14%;
}

.sidebar-container {
  border: none;
}

.sidebar-link-head {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.button-sidebar {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 30px;
}

.sidebar-link:nth-last-child(n + 2) {
  padding-bottom: 11px;
}

.information-card {
  margin-bottom: 48px;
}

.scheme {
  margin-bottom: 92px;
}

.caption-card-information {
  padding-bottom: 32px;
}

.image-container picture img {
  width: 100%;
}

.caption-scheme {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 22px;
}

.sample {
  margin-bottom: 77px;
}

.sample h2 {
  max-width: 840px;
}

.sample p {
  margin-bottom: 71px;
}

.scheme-container {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  padding-bottom: 30px;
  border-bottom: 2px #0a7356 solid;
}

.scheme-img-container {
  width: 260px;
  height: 260px;
  max-width: 260px;
  max-height: 260px;
  background-color: #f3f3f3;
  border-radius: 20px;
}

.scheme-img-container:nth-last-child(n + 2) {
  margin-right: 40px;
}

.scheme-img-container img {
  padding: 20px;
}

.contact-form h2 {
  padding-bottom: 43px;
}

.form-container {
  background: #f3f3f3;
  border-radius: 40px;
  width: 100%;
  display: flex;
  padding: 35px 30px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.form-container form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.field-container {
  display: flex;
  max-width: 590px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forma {
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.forma:nth-last-child(n + 3) {
  margin-bottom: 25px;
}

.field {
  width: 260px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
}

.button-block-field {
  display: flex;
  align-items: end;
}

.button-container-field {
  width: 200px;
}

.button-container-field button:hover {
  background-color: #ffffff;
  color: black;
  border: 2px solid #00533c;
}

/* Каталог */

.product-card-image-container {
  display: flex;
  justify-content: center;
}

.top-button-catalog-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.button-catalog-block {
  padding: 20px;
  width: 216px;
  height: 100px;
  background: #f3f3f3;
  border: 2px solid #0a7356;
  border-radius: 20px;
  box-sizing: border-box;
}

.button-catalog-block:hover {
  background-color: #ffffff;
}

.button-catalog-block button:hover {
  background-color: #ffffff;
}

.button-catalog-block button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  text-align: start;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.button-catalog-img-top {
  margin-right: 20px;
}

.filter-container {
  width: 260px;
  margin-right: 40px;
}

.filter-head {
  padding-bottom: 25px;
}

.filter-link:nth-last-child(n + 2) {
  padding-bottom: 25px;
}

.filter {
  list-style-type: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
}

.filter-head button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  background-color: #ffffff;
  border: none;
}

.filter-head button img {
  padding-right: 21px;
}

.filter-link {
  user-select: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #dadbdb;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-cards-catalog {
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.product-card-catalog {
  margin-bottom: 30px;
}

.location-container {
  display: flex;
  justify-content: space-between;
}

.button-container-pag {
  width: 211px;
  height: 40px;
}

.button-container-pag button {
  background: #ffffff;
  border: 2px solid #dadbdb;
  border-radius: 20px;
  color: #292a2a;
}

.button-container-pag button:hover {
  background-color: #0a7356;
  color: #ffffff;
  border: none;
}

.cd-pagination {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.button-pag {
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pag a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cd-pagination li:nth-last-child(n + 2) {
  margin-right: 10px;
}

.pag-num {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag-num:hover {
  background-color: #f3f3f3;
}

.pag-num a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292a2a;
}

.pag-ellipsis {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

/* Табы */
.series .menu-list .tabs__btn_active {
  color: #0a7356;
  text-decoration-line: underline;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: flex;
}

@media (min-width: 1141px) and (max-width: 1919px) {
  .img-container-catalog {
    width: 350px;
  }

  .headbar {
    padding: 21.87px 9.72% 15px;
  }

  .logobar {
    box-sizing: border-box;
  }

  .site-menu {
    box-sizing: border-box;
  }

  .button-contact-container {
    width: 209px;
  }

  .page {
    box-sizing: border-box;
  }

  .img-list-container {
    width: auto;
  }

  
  .image-container-idea {
    position: relative;
    /* width: 360px;
    height: 360px; */
    margin-right: 20px;
    width: 100%;
  }

  .slider-item-ancor {
    display: block;
    position: relative;
  }

  .catalog-ref-news {
    display: none;
  }

  .foot {
    max-width: 100%;
    padding: 114px 9.72% 0;
  }

  .big-img {
    margin-right: 30px;
  }
}

@media (max-width: 1140px) {
  .logobar {
    width: auto;
  }

  .site-menu {
    width: auto;
  }

  .container-info {
    width: auto;
  }

  .foot-container {
    width: auto;
  }

  .page {
    width: auto;
  }
}

@media (max-width: 899px) {
  .img-list-catalog {
    justify-content: space-between;
  }

  .img-container-popular figure picture {
    display: flex;
    justify-content: center;
  }

  .hat {
    padding-bottom: 0;
  }

  .headbar {
    display: none;
  }

  .content-container {
    width: auto;
  }

  .site-menu {
    display: none;
  }

  .logobar {
    padding: 20px;
    width: auto;
  }

  .button-container {
    position: relative;
    max-width: 40px;
    max-height: 40px;
    background-color: #0a7356;
    border-radius: 20px;
  }

  .dropdown {
    width: 40px;
    height: 40px;
  }

  .dropbtn {
    /* display: none; */
    text-indent: -999999px;
    justify-content: center;
  }

  .logo {
    min-width: 82px;
    min-height: 40px;
    padding-left: 20px;
  }

  .svg:nth-last-child(n + 2) {
    margin-right: 25px;
  }

  .button-catalog {
    display: none;
  }

  .button-mini {
    position: relative;
    display: block;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #0a7356;
    cursor: pointer;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 20px;
  }

  .menu-burger {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a7356;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .svg-links {
    justify-content: end;
  }

  .svg-button:nth-last-child(n + 2) {
    margin-right: 25px;
  }

  .container-info {
    width: auto;
    padding: 110px 44px 20px 20px;
    top: 0;
  }

  .intro {
    margin-bottom: 80px;
  }

  .intro-head-container {
    line-height: 40px;
    margin-bottom: 40px;
  }

  .intro-head {
    line-height: 40px;
    font-size: 28px;
    white-space: nowrap;
  }

  .intro-text {
    line-height: 40px;
    font-size: 28px;
  }

  .button-container-catalog {
    max-width: 150px;
    max-height: 40px;
    margin-bottom: 140px;
    color: #ffffff;
  }

  .button-container-scroll {
    max-width: 98px;
    max-height: 20px;
    background-color: #ffffff;
  }

  .page {
    padding: 0 20px;
    margin-bottom: 80px;
    width: auto;
  }

  .catalog {
    margin-bottom: 75px;
  }

  .caption {
    font-size: 26px;
    line-height: 40px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    padding-bottom: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .text-aboutUs {
    line-height: 30px;
  }

  .catalog-ref {
    display: none;
  }

  .catalog-images {
    display: block;
  }

  .big-img {
    width: 100%;
    margin: auto;
    max-height: 190px;
    margin-bottom: 20px;
  }

  .big-img figure {
    padding: 29px 20px;
  }

  .big-img img {
    width: 100%;
  }

  figcaption {
    font-size: 14px;
  }

  .img-container-catalog {
    width: calc(50% - 10px);
    height: 190px;
  }

  .img-container-catalog:nth-child(odd) {
    margin-right: 0;
  }

  .img-container-catalog figure {
    padding: 29px 20px;
  }

  .catalog-ref-mobile {
    padding-top: 25px;
    display: block;
    text-align: center;
  }

  .popular-goods {
    margin-bottom: 60px;
  }

  .tags {
    overflow: scroll;
    flex-wrap: nowrap;
    width: 94.4vw;
  }

  .button-tag {
    font-size: 14px;
  }

  .container-popular {
    height: 245px;
  }

  .container-popular:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .img-container-popular {
    height: 230px;
    max-width: 160px;
  }
  .img-container-popular picture {
    padding: 20px;
  }

  .img-container-popular:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .hit {
    top: 0;
  }

  .information-container {
    display: block;
  }

  .information {
    padding-bottom: 20px;
  }

  .inform-caption {
    font-size: 20px;
    line-height: 30px;
  }

  .button-block-portfolio {
    display: none;
  }

  .big-img-container {
    min-width: auto;
    min-height: 390px;
  }

  .img-list-container {
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .button-block-bottom {
    display: block;
  }

  .img-container-portfolio:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .ideas {
    display: block;
    margin-bottom: 70px;
  }

  .image-container-idea {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  .image-container-idea:nth-last-child(n + 2) {
    padding-bottom: 20px;
  }

  .menu-link-site:nth-last-child(n + 2) {
    margin-right: 30px;
  }

  .button-series {
    font-size: 16px;
  }

  .image-conatainer-series {
    min-width: auto;
    min-height: 310px;
    margin-bottom: 39px;
  }

  .text-series {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 21px;
  }

  .series-catalog {
    display: block;
    padding-top: 15px;
  }

  .catalog-ref-mobile-series {
    text-align: start;
  }

  .aboutUs {
    margin-bottom: 76px;
  }

  .text-block {
    display: block;
  }

  .right-text {
    display: none;
  }

  .bottom-image-container {
    min-width: auto;
    min-height: 320px;
    margin-bottom: 24px;
  }

  .bottom-image-container picture img {
    width: 100%;
  }

  .catalog-ref-news {
    display: block;
  }

  .news {
    margin-bottom: 70px;
  }

  .news-block:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .news-image-container {
    max-width: 100%;
    padding: 20px;
  }

  .text-news {
    padding: 0 20px 20px;
  }

  .date {
    padding: 0 0 20px 20px;
  }

  .button-block-news {
    display: none;
  }

  .clients {
    margin-bottom: 70px;
  }

  .client-block {
    min-width: 180px;
    min-height: 110px;
  }

  .client-block:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .photo-name {
    padding: 30px 20px 20px;
  }

  .inform-caption-news {
    padding: 0 20px 20px;
  }

  .foot {
    padding: 64px 22px 0;
  }

  .foot-container {
    width: auto;
  }

  .site-inform {
    display: block;
  }

  .aboutCompany {
    margin-bottom: 40px;
  }

  .buyers {
    margin-bottom: 45px;
  }

  .copyright-politics {
    display: flex;
    flex-flow: column;
  }

  .copyright {
    display: block;
    order: 2;
  }

  .politics {
    margin-bottom: 20px;
    order: 1;
  }

  .aboutUs-ref-bottom {
    display: block;
  }

  .img-list-popular {
    width: 94.4vw;
  }

  .img-list-container {
    width: 94.4vw;
  }

  .swiper-wrap {
    width: 94.4vw;
  }

  .news-container {
    width: 94.4vw;
  }

  .clients-containers {
    width: 94.4vw;
  }

  /* Карточка товара 1 */

  .path {
    margin-bottom: 15px;
  }

  .first-description {
    display: block;
    margin-bottom: 50px;
  }

  .preview-img-block {
    display: none;
  }

  .preview-big-img-container {
    width: 320px;
    margin: auto;
  }

  .card-scroll {
    display: flex;
    justify-content: space-between;
  }

  .scroll-card-demo {
    width: 280px;
    border-bottom: 2px #0a7356 solid;
  }

  .scroll-card-number {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .code {
    font-size: 14px;
    line-height: 20px;
  }

  .intro-head-catalog {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 17px;
  }

  .description-card-catalog {
    display: flex;
    flex-direction: column-reverse;
  }

  .button-container-cat {
    display: block;
  }

  .button-first-description {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  .switch-download-container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }

  .switch-container {
    margin: auto;
    margin-left: 0;
  }

  .download-text {
    display: none;
  }

  .share-container {
    display: block;
  }

  .share-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .product-description {
    width: 100%;
  }

  .description-caption {
    font-size: 28px;
  }

  .text-description-catalog {
    font-size: 16px;
    line-height: 30px;
  }

  .product-cards {
    width: 94.4vw;
  }

  .product-card {
    max-width: 140px;
  }

  .product-card:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .product-card-image-container {
    height: 150px;
  }

  .product-description-card-container {
    height: 130px;
    position: relative;
  }

  .product-description-card {
    padding: 10px 10px 0 10px;
    height: 110px;
    box-sizing: border-box;
  }

  .card-caption {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 7px;
  }

  .card-description {
    flex-direction: column;
    align-items: baseline;
  }

  .card-description button {
    position: absolute;
    left: 20px;
    bottom: 0;
  }

  .text-card {
    font-size: 12px;
    padding-bottom: 13px;
  }

  /* Карточка товара 2 */

  .main-sidebar-container {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .mobile-button-container {
    width: 151px;
    height: 40px;
    background: #f3f3f3;
    border-radius: 20px;
    max-width: none;
    max-height: none;
  }

  .mobile-button-sidebar {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding-left: 14px;
    color: #292a2a;
  }

  .mobile-button-sidebar img {
    margin-right: 16px;
  }

  .caption-card-information {
    font-size: 28px;
    max-width: 320px;
  }

  .text-information-card {
    font-size: 16px;
    line-height: 30px;
  }

  .scheme-container {
    width: 94.4vw;
  }

  .scheme-img-container {
    width: 140px;
    height: 190px;
  }

  .scheme-img-container:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .form-container form {
    display: block;
    width: 100%;
  }

  .field-container {
    justify-content: center;
  }

  .forma {
    margin-bottom: 30px;
  }

  .forma:nth-child(odd) {
    margin-right: 20px;
  }

  .button-container-field {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  /* Каталог */

  .top-button-catalog-container {
    overflow: scroll;
    width: 94.4vw;
  }

  .button-catalog-block:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .filter-container {
    display: none;
  }

  .product-cards-catalog {
    width: auto;
  }

  .product-card-catalog {
    overflow: hidden;
    max-width: 170px;
  }

  .product-card-catalog:nth-last-child(n + 2) {
    margin-right: 0;
  }

  .location-container {
    display: block;
  }

  .button-container-pag {
    width: 211px;
    height: 40px;
    max-width: none;
    max-height: none;
    margin-bottom: 30px;
  }
}

@media (min-width: 1920px) {
  .big-img {
    width: 1000px;
  }

  .content-container {
    max-width: 1440px;
    width: 1440px;
  }

  .img-list-catalog {
    justify-content: end;
  }

  .img-container-catalog {
    width: 370px;
  }

  .img-container-catalog:nth-child(odd) {
    margin-right: 70px;
  }

  .menu-link:nth-last-child(n + 2) {
    margin-right: 40px;
  }

  .menu-link-ref {
    font-size: 18px;
  }

  .logobar {
    max-width: 1440px;
    width: 1440px;
  }

  .button-logobar {
    font-size: 18px;
  }

  .site-menu {
    max-width: 1440px;
    width: 1440px;
  }

  .container-info {
    max-width: 1440px;
    width: 1440px;
  }

  .page {
    max-width: 1440px;
    width: 1440px;
  }

  .big-img-container {
    width: 1140px;
  }

  .big-img-container picture img {
    width: 100%;
  }

  .information-series {
    width: 730px;
  }

  .text-series {
    max-width: none;
  }

  .bottom-image-container picture img {
    width: 100%;
  }

  .client-block {
    min-width: 290px;
    min-height: 160px;
  }

  .foot-container {
    max-width: 1440px;
    width: 1440px;
  }
}

@media (max-width: 320px) {
  .product-cards-catalog {
    justify-content: center;
  }

  .news-block {
    max-width: 240px;
    min-width: 240px;
  }

  .news-image-container {
    padding: 20px 20px 0;
  }

  .news-image-container picture img {
    width: 100%;
    height: 100%;
  }

  .tags {
    width: 93.4vw;
  }

  .img-list-popular {
    width: 93.4vw;
  }

  .img-list-container {
    width: 93.4vw;
  }

  .swiper-wrap {
    width: 93.4vw;
  }

  .news-container {
    width: 93.4vw;
  }

  .clients-containers {
    width: 93.4vw;
  }

  .product-cards {
    width: 93.4vw;
  }

  .scheme-container {
    width: 93.4vw;
  }

  .top-button-catalog-container {
    width: 93.4vw;
  }
}

@media (max-width: 990px) {
  .catalog-images {
    display: block;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .product-card {
    max-width: 150px;
  }
}

@media (min-width: 800px) and (max-width: 1139px) {
  .product-description {
    width: auto;
  }

  .preview-big-img-container {
    margin: auto;
    width: auto;
  }

  .client-block:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .catalog-images {
    display: block;
  }

  .big-img {
    width: 100%;
  }

  .img-list-catalog {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .img-container-catalog {
    margin-top: 40px;
  }

  .img-container-catalog:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .left-text {
    margin-right: 10px;
  }

  .information-container {
    flex-direction: column;
  }

  .big-img-container {
    min-width: auto;
    min-height: auto;
  }

  .img-list-container {
    justify-content: flex-start;
    overflow: scroll;
    flex-wrap: nowrap;
    margin-top: 20px;
  }

  .img-container-portfolio:nth-last-child(n + 2) {
    margin-right: 20px;
  }

  .image-conatainer-series {
    margin-bottom: 40px;
  }

  .text-series {
    max-width: none;
  }

  .intro-head,
  .intro-text {
    line-height: 40px;
    font-size: 28px;
    white-space: nowrap;
  }
}

@media (max-width: 1110px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1139px) {
  .product-cards {
    justify-content: space-around;
  }
}

@media (max-width: 460px) {
  .scheme-container {
    overflow-x: scroll;
  }

  .image-container-idea {
    width: 100%;
  }

  .slider-item-ancor {
    width: 100%;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.news-image-container picture img {
  width: 100%;
}

.news-block {
  width: 100%;
}

:root {
  --swiper-theme-color: #0a7356 !important;
}
